<div id="app-root">

  <div>Country</div>
  <div class="main-section">

    <div class="buttons-section">
      <input (keyup)="filterCountries($event)" id="searchbar" placeholder="Input country name.."
             type="text">
      <div *ngFor="let country of displayedCountries | paginate:{
      itemsPerPage : 12,
      currentPage: 0,
      totalItems : displayedCountries.length}" class="button-section">
        <button (click)="selectCountry($event)"
                class="full-width-button"
                id="{{country.slug}}">
          {{country.country}}
        </button>
      </div>
    </div>

    <app-graph [countryName]="selectedCountry"></app-graph>
  </div>


</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>


